.VehicleControlTile {
    text-align: center;
    background-color: #F8E9A1;
    border-radius: 0.75em;
    width: 220px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -18px;
}

.active {
    background-color: rgb(128, 127, 173);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;
    transition: cubic-bezier(0.77, 0, 0.175, 1) .5s;
}
