.VehicleControlTile {
    text-align: center;
    background-color: #F8E9A1;
    border-radius: 0.75em;
    width: 250px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -18px;
}

.active {
    text-decoration: underline;
}